<div class="resize-controls">
  create board with rows:
  <input id="rows" class="input" type="number" step=1 placeholder="rows"> 
  cols:
  <input id="cols" class="input" type="number" step=1 placeholder="cols">

</div>
<br>
<div class="clearfix pull-left">
  <div id="clear" class="btn btn-default">clear all colors</div>
  <div id="save" class="btn btn-primary">save</div>
</div>
