<div class="sidebar">
  <div id="add-server" class="btn btn-default">add server</div>
  <div id="destroy-server" class="btn btn-primary">destroy server</div>
  <div class="available-apps">
    <p>Available Apps</p>
    <ul class="nav">
      <li>Hadoop 
        <div class="btn minus-app" data-type="hd">-</div>
        <div class="btn add-app" data-type="hd">+</div>
      </li>
      <li>Rails
        <div class="btn minus-app" data-type="rs">-</div>
        <div class="btn add-app" data-type="rs">+</div>
      </li>
      <li>Chronos
        <div class="btn minus-app" data-type="ch">-</div>
        <div class="btn add-app" data-type="ch">+</div>
      </li>
      <li>Storm
        <div class="btn minus-app" data-type="st">-</div>
        <div class="btn add-app" data-type="st">+</div>
      </li>
      <li>Spark
        <div class="btn minus-app" data-type="sp">-</div>
        <div class="btn add-app" data-type="sp">+</div>
      </li>
    </ul>
  </div>
</div>
<h2>Server Canvas</h2>
<div class="main">
</div>
