<html>
    <head>
        <script src="/static/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/static/d3.v3.min.js" type="text/javascript"></script>
        <link href="/static/application.css" media="screen" rel="stylesheet" type="text/css" />
        <title>Supercircle</title>
    </head>

    <body>
        <div id="coordinates">
          <table border="1">
          <tr>
            <th>Circle</th>
            <th>x</th>
            <th>y</th>
            <th>r</th>
            <th>area</th>
          </tr>
          <tr id="blueCoords">
            <td>Blue</td>
            <td>x</td>
            <td>y</td>
          </tr>
          <tr id="redCoords">
            <td>Red</td> 
            <td>x</td>
            <td>y</td>
          </tr>
          <tr id="greenCoords">
            <td>Green</td>
            <td>x</td>
            <td>y</td>
          </tr>
          <tr id="superCoords">
            <td>Supercircle</td>
            <td>x</td>
            <td>y</td>
            <td>r</td>
            <td>area</td>
          </tr>
          </table>
        </div>
        <div id="content">
        </div>
        <script src="/static/application.js" type="text/javascript"></script>
    </body>
</html>

