body {
  font-size: 12px;
}
body #page-content {
  margin-left: 100px;
}
body #page-content svg {
  float: left;
  margin: 20px;
}
body #page-content rect {
  cursor: pointer;
}
body .resize-controls {
  margin: 10px;
  float: left;
}
body .chart {
  float: left;
  clear: both;
}
