.list-item {
  display: flex;
}

.list-item-editing:first-child, .list-item:first-child {
  border-top: 1px #ccc solid;
}

.list-item-editing, .list-item {
  border-bottom: 1px #ccc solid;
  background-color: #fff;
  height: 40px;
  padding: 15px 20px 15px 20px;
  display: flex;
  position: relative;

}

.list-item-editing .list-item-name input,
.list-item .list-item-name input,
{
  height: 24px;
  font-size: 14px;
}

.list-item .DeleteIcon, .list-item-editing .DeleteIcon {
  cursor: pointer;
}
.list-item .DeleteIcon svg,
.list-item-editing .DeleteIcon svg {
  cursor: pointer;
  position: absolute;
  right: 35px;
}

.list-item .DeleteIcon:hover svg,
.list-item-editing .DeleteIcon:hover svg,
.list-item .DeleteIcon:hover svg path,
.list-item-editing .DeleteIcon:hover svg path {
  fill: #656565;
  fill-opacity: 1;
}

.list-item-name,
.list-item-last-modified,
{
  margin: 0 10px;
}

.list-item-name:hover,
{
  background-color: #ccc;
}
