html, body {
  width: 100%;
  background-color: #f4f4f4;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  clear: both;
}

.vertical-stack .control-label {
  text-align: left;
}

/* TAGS */
hr {
  background-color: #333;
}

#application {
  display:flex;
  justify-content: center;
}
.content {
  width: 80%;
}

.tab-content {
  background-color: #fff;
}

.toggle {
  margin-top: 10px;
}


/* OVERRIDING BOOTSTRAP DEFAULTS */
.tab-content > .active {
  padding: 10px;
  border-left: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  border-right: 1px #ddd solid;
}

.nav-tabs > li.active > a {
  color: darkorange;
}
